:root {
  --height: 0;
  --width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}

#home {
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#level-choice {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.button:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}
.button:active {
  position: relative;
  top: 1px;
}

a {
  text-decoration: none;
  color: black;
}

#settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#settings input {
  margin: 10px;
}

#game {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#game-over {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 40%;
  top: 21%;
  left: 30%;
  background-color: rgb(213, 91, 91);
  border-radius: 10px;
}
#game-over button {
  margin-top: 1.5vh;
}
